*{
    margin: 0;
    padding: 0;
    font-family: verdana ;
    font-weight: 500;
    color: #fff;
}

body{
    background-color: #0e1015d9;
}

.brading{
    font-weight: 500;
    border: 2px solid black;
    left: 3vw;
    border-radius: 2vw;
    width: 25%;
    height: 2vw;
    position: relative;
    top: -1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    display: flex;
}
.Text_cont{
    border: 2px solid black;
}
.main{
    left: 13%;
    width: 75%;
    height: 18vw;
    position: relative;
    top: 6vw;
    border: 2px solid black;

}

.main pre{
    float: left;

   
}
#input_word{
    outline: none;
    color: transparent;
    opacity: -1;
}

.incorrect{
    color : red;
}
.correct{
    color: limegreen;
}